.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        アイウエオ
      %ul.top-items__icon
        %ls.top-items__icon__edit
          = link_to "#", class: "contents__btn" do
            %i.far.fa-edit
        %ls.top-items__icon__fa-cog
          = link_to "#", class: "contents__btn" do
            %i.fa.fa-cog
  .side-bar__group-rist
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
  