.side-bar
  .side-bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      %ul.top-items__icon
        %ls.top-items__icon__edit
          = link_to do
            %i.far.fa-edit.contents__btn
        %ls.top-items__icon__fa-cog
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.contents__btn
  .side-bar__group-rist
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
    .group
      %p.group_name
        zzz
      %p.message
        まだメッセージがありません
  